header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  .nav-list {
    display: flex;
    
    .nav-link {
      padding: 2rem;
      font-size: 2rem;
    }
  }
}

