.checkout-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: 15rem;
  align-items: center;
  font-size: 2rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #000;
  grid-gap: 1.5rem;


  .arrow {
    cursor: pointer;
  }

  .value {
    margin: 0 1rem;
  }

  .remove-button {
    display: inline-block;
    cursor: pointer;
  }

  img {
    display: block;
  }
}